In [5]:
import django_initializer
from ontrack.market.models.participant import ParticipantStatsActivity, ParticipantActivity
import pandas as pd
import numpy as np
from ontrack.utils.datetime import DateTimeHelper as dt

In [6]:
def color_boolean(val):
    color =''
    foreground = ''
    if val == "BEARISH":
        color = 'red'
        foreground = 'black'        
    elif val == "BULLISH":
        color = 'green'        
        foreground = 'black'  
    return f'background-color: {color}; color: {foreground}'

In [24]:
d = dt.get_past_date(days=10)
participants = ParticipantStatsActivity.backend.filter(date__gte=d).order_by("date")
df = pd.DataFrame(list(participants.values("date", "client_type", "instrument", "no_of_contracts_bought", "value_of_contracts_bought", "value_of_contracts_sold", "no_of_contracts_sold", "open_interest")))
common_names = {
    "client_type": "type",
    "instrument": "instrument",
    "no_of_contracts_bought": "bought",    
    "value_of_contracts_bought": "bought_value",
    "no_of_contracts_sold": "sold",
    "value_of_contracts_sold": "sold_value",
    "open_interest": "oi"
}
# df.set_index("date", inplace = True)
df.rename(columns=common_names, errors="ignore", inplace=True)
df['balance_contracts'] = (df["bought"] - df["sold"])
df['balance_value'] = (df["bought_value"] - df["sold_value"])
df['net_contracts'] = (df.groupby(['type', 'instrument'])['balance_contracts'].transform(lambda x: x.diff()))
df['net_value'] = (df.groupby(['type', 'instrument'])['balance_value'].transform(lambda x: x.diff()))
df['change_oi'] = (df.groupby(['type', 'instrument'])['oi'].transform(lambda x: x.diff()))
df['pcr_contracts'] = (df["bought"] / (df["bought"] + df["sold"])).astype(float)

conditions = [
    (df["change_oi"] > 0) & (df['balance_contracts'] > 0),
    (df["change_oi"] > 0) & (df['balance_contracts'] < 0),
    (df["change_oi"] < 0) & (df['balance_contracts'] > 0),
    (df["change_oi"] < 0) & (df['balance_contracts'] < 0)]
choices = ["LONG BUILDUP", "SHORT BUILDUP", "SHORT COVERING", "LONG UNWINDING"]
df["position"] = np.select(conditions, choices)

choices = ["BULLISH", "BEARISH", "BULLISH", "BEARISH"]
df["direction"] = np.select(conditions, choices)

df_f = df.tail(4)
df_s = df_f.style.applymap(color_boolean, subset=['direction'])

df_s

In [25]:
df = df[df["instrument"]=="FUTIDX"]
df = df[["date", "balance_value", "position", "direction", "instrument"]]

df_s = df.style.applymap(color_boolean, subset=['direction'])
df_s

In [8]:
d = dt.get_past_date(days=5)
instruments = ["FUTIDX", "OPTIDX", "CASH"]
client_types = ["CLIENT", "PRO", "DII", "FII"]

# instruments = ["FUTIDX",]
# client_types = ["FII", ]
participants = ParticipantActivity.backend.filter(date__gte=d, instrument__in=instruments, client_type__in=client_types).order_by("date", "client_type", "instrument")
df = pd.DataFrame(list(participants.values("date", "client_type", "instrument", "option_type", "buy_amount", "sell_amount", "net_amount")))
common_names = {
    "instrument": "instrument"
}

# # df.set_index("date", inplace = True)
df.rename(columns=common_names, errors="ignore", inplace=True)
# df['balance'] = df["bought"] - df["sold"] 
df['long'] = (df.groupby(['client_type', 'instrument', "option_type"], dropna=False)['buy_amount'].transform(lambda x: x.diff()))
df['short'] = (df.groupby(['client_type', 'instrument', "option_type"], dropna=False)['sell_amount'].transform(lambda x: x.diff()))
df["net"] = df['long'] - df['short']

a = np.array(df['buy_amount'], dtype=float)
b = np.array(df['sell_amount'], dtype=float)
df["lsr"] = np.divide(a, b, out=np.zeros_like(a), where= b!=0)
df['lsr'] = np.round(df['lsr'], 2)

a = np.array(df['buy_amount'], dtype=float)
b = np.array((df['buy_amount'] + df['sell_amount']), dtype=float)
df['pcr'] = np.divide(a, b, out=np.zeros_like(a), where= b!=0)
df['pcr'] = np.round(df['pcr'], 2)

conditions = [
    (df['option_type'] != "PE" ) & (df['long'] > df['short']) & (df['long'] + df['short'] > 0),
    (df['option_type'] != "PE" ) & (df['long'] < df['short']) & (df['long'] + df['short'] > 0),
    (df['option_type'] != "PE" ) & (df['long'] < df['short']) & (df['long'] + df['short'] < 0),
    (df['option_type'] != "PE" ) & (df['long'] > df['short']) & (df['long'] + df['short'] < 0),
    
    (df['option_type'] == "PE" ) & (df['long'] > df['short']) & (df['long'] + df['short'] > 0),
    (df['option_type'] == "PE" ) & (df['long'] < df['short']) & (df['long'] + df['short'] > 0),
    (df['option_type'] == "PE" ) & (df['long'] < df['short']) & (df['long'] + df['short'] < 0),
    (df['option_type'] == "PE" ) & (df['long'] > df['short']) & (df['long'] + df['short'] < 0)]
choices = [
    "LONG BUILDUP", 
    "SHORT BUILDUP", 
    "LONG UNWINDING", 
    "SHORT COVERING", 
    "SHORT BUILDUP", 
    "LONG BUILDUP", 
    "SHORT COVERING", 
    "LONG UNWINDING", ]
df["position"] = np.select(conditions, choices, default="NA")

choices = ["BULLISH", "BEARISH", "BEARISH", "BULLISH", "BEARISH", "BULLISH" , "BULLISH" , "BEARISH"]
df["direction"] = np.select(conditions, choices, default="NA")

df = df.tail(14)
df = df.style.applymap(color_boolean, subset=['direction'])

df