In [1]:
import django_initializer
from ontrack.market.models.participant import ParticipantStatsActivity, ParticipantActivity
import pandas as pd
import numpy as np
from ontrack.utils.datetime import DateTimeHelper as dt
from ontrack.market.api.logic.participants import MarketParticipantData

In [2]:
def color_boolean(val):
    color =''
    foreground = ''
    if val == "BEARISH" or (not isinstance(val, str) and val < 0):
        color = 'red'
        foreground = 'black'        
    elif val == "BULLISH"  or (not isinstance(val, str) and val > 0):
        color = 'green'        
        foreground = 'black'  
    return f'background-color: {color}; color: {foreground}'

obj = MarketParticipantData("nse")

In [3]:
# df = MarketParticipantData("nse").get_fii_stats_activities()
# df_f = df.tail(4)
# df_s = df_f.style.applymap(color_boolean, subset=['direction'])

# df_s

CASH

In [12]:
df = obj.get_participant_cash()
df = df.head(4)
df = df.style.applymap(color_boolean, subset=['net_amount'])
df

Index Future

In [13]:
df = obj.get_fii_future_index_stats()
df = df.head(2)
df_s = df.style.applymap(color_boolean, subset=['direction'])
df_s

In [14]:
df = obj.get_participant_index_future()
df = df.head(8)
df = df.style.applymap(color_boolean, subset=['direction'])
df

OPTION CALL

In [15]:
df = obj.get_participant_index_call()
df = df.head(8)
df = df.style.applymap(color_boolean, subset=['direction'])
df

Option PUT

In [16]:
df = obj.get_participant_index_put()
df = df.head(8)
df = df.style.applymap(color_boolean, subset=['direction'])
df

In [ ]:
df = obj.get_participant_index_put_call()
df

All Records

In [ ]:
df = MarketParticipantData("nse").get_participant_activities()
df = df.style.applymap(color_boolean, subset=['direction'])

df

In [ ]:
df = MarketParticipantData("nse").get_fii_stats_activities()
df = df.style.applymap(color_boolean, subset=['direction'])

df