In [1]:
import django_initializer
from ontrack.market.api.logic.screener import Screener
from ontrack.users.models.lookup import StockScreener
from ontrack.utils.base.enum import ExchangeType
from ontrack.ta.core import sanitize
import pandas as pd

path = "C:\Sachin\OST-API\python_functions\\SCREENER_2022-12-12.csv"

In [2]:
obj = Screener(ExchangeType.NSE)
df = obj.stock_screener(1, only_fno=True)
df.to_csv(path)

In [3]:
df = pd.read_csv(path)
df.sort_values(by="date", ascending=False, inplace=True)

In [ ]:
df[df["symbol"]=="boschltd"]

In [ ]:
df_latest = df.sort_values('date').groupby('symbol').tail(1)
df_latest[(df_latest["QPT_RATIO_20"] > 2) | (df_latest["DEL_RATIO_20"] > 2)]

In [6]:
s = StockScreener.backend.filter(id=1)[0]
for section in s.sections.all():
    for item in section.items.all():
        print(item)

Hidden Move - Default - Crossing Average QPT
Hidden Move - Default - Crossing Average Delivery Quantity
Hidden Move - Default - Crossing Average Delivery Percentage
Hidden Move - Default - Crossing Average Volume
Hidden Move - Default - Crossing Average Open Interest

In [3]:
df = Screener(ExchangeType.NSE).stock_screener_big_player(only_fno=True)
df_last = df.sort_values('date').groupby('symbol').tail(1)
df_last = df_last.sort_values("weightage", ascending=False)
df_last[(df_last["QPT_RATIO"] > 1.2) & (df_last["DEL_RATIO"] > 1.2) & (abs(df_last["OI_RATIO"]) > 1.2)]
#df[(abs(df["CHANGE_OI_RATIO"]) > 2) & (df["lot_size"] > 0)]

#print(connection.queries)

,entity_id,symbol,date,prev,open,high,low,last,close,avg,...,change_oi,avg_change_oi,weightage,lot_size,QPT_RATIO,VOL_RATIO,DEL_RATIO,P_DEL_RATIO,OI_RATIO,CHANGE_OI_RATIO
2678,771,irctc,2022-12-14 18:30:00+00:00,734.9000,698.5,702.5,687.0,687.1500,689.05,695.3400,...,4347875.0000,66062.500000000000,0.1500,875,1.36,10.15,10.54,1.02,1.34,65.81
5226,1036,metropolis,2022-12-14 18:30:00+00:00,1372.2000,1370.0,1371.9,1315.0,1317.7500,1322.10,1334.6100,...,338000.0000,22265.000000000000,0.0300,300,1.63,4.54,4.05,0.85,1.67,15.18

In [16]:
df.sort_values(by="date", ascending=False, inplace=True)
df_stock = df[df["symbol"]=="balkrisind"]
#print(df.columns)
df_stock[["date", "open", "high", "low", "close", "p_change", 'volume', 'qpt', 'p_delivery', 'oi', 'change_oi', 'QPT_RATIO', 'VOL_RATIO', 'DEL_RATIO', 'P_DEL_RATIO', 'OI_RATIO', 'CHANGE_OI_RATIO']]

,date,open,high,low,close,p_change,volume,qpt,p_delivery,oi,change_oi,QPT_RATIO,VOL_RATIO,DEL_RATIO,P_DEL_RATIO,OI_RATIO,CHANGE_OI_RATIO
2799,2022-12-13 18:30:00+00:00,2110.95,2154.00,2085.40,2148.10,2.2927,709221.0000,18.2183,47.0100,2098200.0000,122400.0000,1.20,2.38,2.74,1.11,1.00,-5.82
2798,2022-12-12 18:30:00+00:00,2060.00,2115.00,2052.50,2098.85,1.8867,466641.0000,17.6151,38.9600,1975800.0000,56100.0000,1.14,1.14,1.42,0.95,0.93,-1.83
2797,2022-12-11 18:30:00+00:00,2057.00,2080.15,2038.05,2059.25,0.0558,170585.0000,10.0439,49.3300,1919700.0000,18900.0000,0.64,0.42,0.65,1.22,0.89,-0.63
2796,2022-12-08 18:30:00+00:00,2088.75,2090.55,2035.10,2058.10,-1.2366,215945.0000,10.2655,40.3400,1900800.0000,-34800.0000,0.65,0.52,0.67,0.99,0.87,1.38
2795,2022-12-07 18:30:00+00:00,2068.00,2087.95,2060.00,2083.55,0.6503,129422.0000,16.3123,47.7200,1935600.0000,-35100.0000,1.04,0.31,0.47,1.16,0.87,2.09
2794,2022-12-06 18:30:00+00:00,2072.95,2098.00,2063.15,2070.00,0.3019,289788.0000,16.1271,57.5300,1970700.0000,-8100.0000,1.04,0.70,1.29,1.42,0.88,0.48
2793,2022-12-05 18:30:00+00:00,2060.10,2067.40,2032.25,2063.75,-0.0267,296224.0000,17.7635,57.5400,1978800.0000,-10800.0000,1.14,0.70,1.25,1.41,0.88,0.84
2792,2022-12-04 18:30:00+00:00,2064.00,2086.70,2058.50,2064.30,0.1647,256146.0000,14.8749,35.8100,1989600.0000,49200.0000,0.95,0.59,0.66,0.87,0.88,-3.04
2791,2022-12-01 18:30:00+00:00,2060.10,2080.00,2040.00,2060.90,-0.1407,235809.0000,15.1763,36.3300,1940400.0000,9000.0000,0.97,0.53,0.61,0.88,0.85,-0.51
2790,2022-11-30 18:30:00+00:00,2049.90,2070.50,2030.00,2063.80,1.0539,339095.0000,15.7265,42.7600,1931400.0000,-80100.0000,1.01,0.76,1.03,1.04,0.84,5.75
2789,2022-11-29 18:30:00+00:00,2030.00,2052.95,2016.55,2042.05,0.3452,302927.0000,17.9597,52.2600,2011500.0000,-9300.0000,1.16,0.66,1.13,1.29,0.86,0.65
2788,2022-11-28 18:30:00+00:00,2040.00,2073.80,2030.15,2035.00,-0.4668,370078.0000,21.8258,48.2800,2020800.0000,24000.0000,1.45,0.80,1.30,1.21,0.86,-1.43
2787,2022-11-27 18:30:00+00:00,2036.00,2067.55,2030.55,2044.50,0.8877,459052.0000,18.2620,38.2200,1996800.0000,-75900.0000,1.23,0.99,1.30,0.95,0.84,6.05
2786,2022-11-24 18:30:00+00:00,1978.00,2032.00,1968.05,2026.35,2.5144,519779.0000,13.0999,46.5500,2072700.0000,40500.0000,0.87,1.13,1.92,1.18,0.86,-2.44
2785,2022-11-23 18:30:00+00:00,1956.35,1983.00,1948.75,1975.40,1.4579,193083.0000,6.3924,38.0400,2106600.0000,-63900.0000,0.41,0.40,0.56,0.96,0.87,5.04
2784,2022-11-22 18:30:00+00:00,1954.90,1961.35,1932.10,1946.60,-0.1901,135991.0000,9.7983,40.1400,2170500.0000,-125100.0000,0.60,0.27,0.40,1.01,0.89,50.97
2783,2022-11-21 18:30:00+00:00,1945.05,1957.75,1931.50,1950.30,0.2307,101070.0000,10.7179,46.1300,2295600.0000,-52500.0000,0.64,0.18,0.32,1.18,0.93,-20.59
2782,2022-11-20 18:30:00+00:00,1958.00,1971.85,1934.00,1945.80,-1.3850,190135.0000,16.1831,37.8300,2348100.0000,-132600.0000,0.96,0.32,0.46,0.97,0.95,-7.55
2781,2022-11-17 18:30:00+00:00,1978.00,1985.50,1957.95,1972.75,-0.2839,199730.0000,16.6123,39.2400,2480700.0000,24600.0000,0.98,0.31,0.48,1.00,1.00,1.47
2780,2022-11-16 18:30:00+00:00,1960.00,1997.10,1927.15,1978.35,1.1146,496438.0000,19.0952,24.3700,2456100.0000,54300.0000,1.15,0.75,0.71,0.59,0.99,4.80
2779,2022-11-15 18:30:00+00:00,1948.00,1974.00,1940.00,1956.30,-0.3527,589534.0000,18.6940,27.0000,2401800.0000,-69300.0000,1.15,0.87,0.92,0.62,0.96,-2.80
2778,2022-11-14 18:30:00+00:00,1800.00,1981.15,1796.30,1963.20,4.4646,2670070.0000,25.0932,11.5900,2471100.0000,-135900.0000,1.74,9.60,2.13,0.23,0.99,-2.39
2777,2022-11-13 18:30:00+00:00,1890.00,1905.55,1863.10,1875.55,-0.7411,228319.0000,12.4915,42.1400,2607000.0000,32700.0000,0.84,0.79,0.61,0.81,1.06,0.52
2776,2022-11-10 18:30:00+00:00,1895.60,1915.00,1879.35,1889.45,0.4446,233261.0000,15.4960,48.2900,2574300.0000,58500.0000,1.05,0.75,0.65,0.91,1.06,0.91
2775,2022-11-09 18:30:00+00:00,1929.00,1929.00,1872.50,1881.05,-2.8442,227990.0000,11.4029,51.6400,2515800.0000,134700.0000,0.70,0.65,0.59,0.96,1.05,4.61
2774,2022-11-08 18:30:00+00:00,1970.00,1970.00,1924.90,1934.55,-1.5818,217440.0000,14.4498,45.3500,2381100.0000,-12900.0000,0.79,0.45,0.33,0.73,0.99,-0.18
2773,2022-11-06 18:30:00+00:00,1923.05,1968.20,1915.80,1965.15,2.5163,483950.0000,18.3488,62.2500,2394000.0000,71400.0000,1.00,1.00,1.00,1.00,1.00,1.00