In [1]:
import django_initializer
from ontrack.market.api.logic.screener import Screener
from ontrack.users.models.lookup import StockScreener
from ontrack.utils.base.enum import ExchangeType
from ontrack.ta.core import sanitize

In [ ]:
obj = Screener(ExchangeType.NSE)
df = obj.stock_screener(1, only_fno=True)

In [10]:
df[df["symbol"]=="kotakbank"]

,date,symbol,prev,open,high,low,last,close,avg,changed,p_change,volume,qpt,delivery,p_delivery,QPT_RATIO_20,DEL_RATIO_20,DEL_P_RATIO_20,VOL_RATIO_20
79,2022-10-30 18:30:00+00:00,kotakbank,1884.2500,1899.00,1912.00,1889.00,1901.5500,1901.95,1902.5500,17.7000,0.9306,1874348.0000,23.7413,1250323.0000,66.7100,NaN,NaN,NaN,NaN
322,2022-10-31 18:30:00+00:00,kotakbank,1901.9500,1908.00,1941.50,1903.40,1910.5000,1909.20,1922.3000,7.2500,0.3797,2545417.0000,24.7582,1522987.0000,59.8300,NaN,NaN,NaN,NaN
500,2022-11-01 18:30:00+00:00,kotakbank,1909.2000,1918.75,1920.00,1897.50,1907.9500,1909.95,1906.2500,0.7500,0.0393,1864081.0000,26.7440,1307954.0000,70.1700,NaN,NaN,NaN,NaN
735,2022-11-02 18:30:00+00:00,kotakbank,1909.9500,1904.80,1913.00,1893.60,1901.7000,1900.15,1901.5400,-9.8000,-0.5157,1591871.0000,30.1736,959299.0000,60.2600,NaN,NaN,NaN,NaN
809,2022-11-03 18:30:00+00:00,kotakbank,1900.1500,1906.00,1908.00,1894.30,1900.0000,1899.95,1899.2900,-0.2000,-0.0105,2081413.0000,38.1519,1639255.0000,78.7600,NaN,NaN,NaN,NaN
979,2022-11-06 18:30:00+00:00,kotakbank,1899.9500,1908.00,1910.00,1871.65,1885.0000,1882.60,1885.9400,-17.3500,-0.9216,2624601.0000,38.0228,1834363.0000,69.8900,NaN,NaN,NaN,NaN
1273,2022-11-08 18:30:00+00:00,kotakbank,1882.6000,1898.00,1903.60,1880.70,1884.2500,1893.40,1892.5700,10.8000,0.5704,2322634.0000,34.9979,1663393.0000,71.6200,NaN,NaN,NaN,NaN
1470,2022-11-09 18:30:00+00:00,kotakbank,1893.4000,1895.00,1915.00,1891.70,1913.6000,1912.15,1904.0400,18.7500,0.9806,2510124.0000,30.3691,1807001.0000,71.9900,NaN,NaN,NaN,NaN
1682,2022-11-10 18:30:00+00:00,kotakbank,1912.1500,1933.00,1933.90,1890.90,1900.5000,1899.10,1906.9700,-13.0500,-0.6872,3424030.0000,29.0917,2416102.0000,70.5600,NaN,NaN,NaN,NaN
1770,2022-11-13 18:30:00+00:00,kotakbank,1899.1000,1902.85,1928.70,1901.00,1921.0000,1922.80,1922.1800,23.7000,1.2326,2142267.0000,32.7049,1314168.0000,61.3400,NaN,NaN,NaN,NaN
2065,2022-11-14 18:30:00+00:00,kotakbank,1922.8000,1925.00,1933.30,1895.30,1918.1000,1912.40,1912.5200,-10.4000,-0.5438,1990292.0000,26.2800,1090480.0000,54.7900,NaN,NaN,NaN,NaN
2103,2022-11-15 18:30:00+00:00,kotakbank,1912.4000,1914.00,1968.65,1913.95,1963.6000,1965.90,1947.0400,53.5000,2.7214,6437651.0000,46.7330,3966661.0000,61.6200,NaN,NaN,NaN,NaN
2328,2022-11-16 18:30:00+00:00,kotakbank,1965.9000,1963.80,1965.00,1943.25,1949.9500,1950.55,1952.3200,-15.3500,-0.7870,2408671.0000,39.0422,1484409.0000,61.6300,NaN,NaN,NaN,NaN
2608,2022-11-17 18:30:00+00:00,kotakbank,1950.5500,1960.95,1997.55,1947.90,1958.0000,1959.55,1972.8900,9.0000,0.4593,4272040.0000,36.2963,2031813.0000,47.5600,NaN,NaN,NaN,NaN
2743,2022-11-20 18:30:00+00:00,kotakbank,1959.5500,1954.55,1954.55,1932.80,1942.0000,1944.10,1941.3500,-15.4500,-0.7947,1192610.0000,22.8588,653203.0000,54.7700,NaN,NaN,NaN,NaN
2932,2022-11-21 18:30:00+00:00,kotakbank,1944.1000,1953.85,1953.85,1930.10,1936.0000,1939.75,1937.7600,-4.3500,-0.2243,1166755.0000,25.5907,672653.0000,57.6500,NaN,NaN,NaN,NaN
3195,2022-11-22 18:30:00+00:00,kotakbank,1939.7500,1950.50,1961.50,1945.65,1951.0000,1953.35,1953.5800,13.6000,0.6962,2500563.0000,32.0068,1805991.0000,72.2200,NaN,NaN,NaN,NaN
3299,2022-11-23 18:30:00+00:00,kotakbank,1953.3500,1954.50,1956.30,1933.05,1949.6000,1944.85,1943.6400,-8.5000,-0.4371,1400421.0000,26.0529,705474.0000,50.3800,NaN,NaN,NaN,NaN
3440,2022-11-24 18:30:00+00:00,kotakbank,1944.8500,1949.00,1949.00,1920.00,1928.7000,1928.40,1930.9100,-16.4500,-0.8530,2097541.0000,27.5673,1307332.0000,62.3300,NaN,NaN,NaN,NaN
3603,2022-11-27 18:30:00+00:00,kotakbank,1928.4000,1916.00,1942.95,1916.00,1924.0000,1928.15,1933.4400,-0.2500,-0.0130,1564504.0000,28.7302,1018873.0000,65.1200,0.93,0.67,1.03,0.65
3882,2022-11-28 18:30:00+00:00,kotakbank,1928.1500,1931.60,1939.00,1923.25,1926.7500,1925.55,1930.3800,-2.6000,-0.1350,1363505.0000,22.3181,897629.0000,65.8300,0.72,0.60,1.04,0.57
4018,2022-11-29 18:30:00+00:00,kotakbank,1925.5500,1939.00,1955.00,1916.00,1948.1000,1947.05,1936.6300,21.5000,1.1042,2950734.0000,30.4781,2109334.0000,71.4900,0.98,1.37,1.12,1.23
4295,2022-11-30 18:30:00+00:00,kotakbank,1947.0500,1955.00,1961.75,1927.85,1933.9500,1934.30,1943.8500,-12.7500,-0.6592,2471005.0000,19.1032,1494489.0000,60.4800,0.62,0.97,0.95,1.02
4443,2022-12-01 18:30:00+00:00,kotakbank,1934.3000,1917.10,1934.90,1917.10,1933.0000,1930.80,1926.2700,-3.5000,-0.1813,1590968.0000,25.0985,1053950.0000,66.2500,0.82,0.68,1.04,0.66
4632,2022-12-04 18:30:00+00:00,kotakbank,1930.8000,1942.00,1943.95,1920.00,1933.8500,1938.45,1931.2600,7.6500,0.3946,1245509.0000,18.6314,768844.0000,61.7300,0.63,0.51,0.98,0.52
4755,2022-12-05 18:30:00+00:00,kotakbank,1938.4500,1920.55,1943.10,1920.55,1932.8000,1935.25,1933.8200,-3.2000,-0.1654,1366698.0000,16.7518,816790.0000,59.7600,0.59,0.56,0.96,0.59
4961,2022-12-06 18:30:00+00:00,kotakbank,1935.2500,1932.50,1932.50,1905.50,1914.0000,1911.45,1916.2500,-23.8000,-1.2451,2362280.0000,28.1942,1408829.0000,59.6400,1.00,0.98,0.96,1.02
5187,2022-12-07 18:30:00+00:00,kotakbank,1911.4500,1898.90,1904.80,1877.10,1898.6000,1897.00,1889.7800,-14.4500,-0.7617,12619838.0000,65.8415,8160448.0000,64.6600,2.20,4.64,1.05,4.46

In [9]:
df_latest = df.sort_values('date').groupby('symbol').tail(1)
df_latest[(df_latest["QPT_RATIO_20"] > 2)]

,date,symbol,prev,open,high,low,last,close,avg,changed,p_change,volume,qpt,delivery,p_delivery,QPT_RATIO_20,DEL_RATIO_20,DEL_P_RATIO_20,VOL_RATIO_20
5187,2022-12-07 18:30:00+00:00,kotakbank,1911.4500,1898.9,1904.80,1877.10,1898.6000,1897.00,1889.7800,-14.4500,-0.7617,12619838.0000,65.8415,8160448.0000,64.6600,2.20,4.64,1.05,4.46
5201,2022-12-07 18:30:00+00:00,bharatforg,837.0500,839.0,878.45,834.00,871.0000,871.35,864.9000,34.3000,3.9364,2618796.0000,57.7425,1093119.0000,41.7400,2.02,1.86,0.86,2.07
5235,2022-12-07 18:30:00+00:00,torntpower,543.3500,543.0,545.95,539.25,542.6000,540.45,540.9900,-2.9000,-0.5366,522584.0000,87.2865,369152.0000,70.6400,2.22,2.91,2.26,1.15

In [5]:
s = StockScreener.backend.filter(id=1)[0]
for section in s.sections.all():
    for item in section.items.all():
        print(item)

Hidden Move - Default - Crossing Average QPT
Hidden Move - Default - Crossing Average Delivery Quantity
Hidden Move - Default - Crossing Average Delivery Percentage
Hidden Move - Default - Crossing Average Volume
Hidden Move - Default - Crossing Average Open Interest